@font-face {
  font-family: DepartureMono;
  src: url(/DepartureMono-Regular.otf);
}

:root {
  font-family: DepartureMono;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

