@font-face {
  font-family: DepartureMono;
  src: url(/DepartureMono-Regular.otf);
}

:root {
  font-family: DepartureMono;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  background-color: white;
  width: 330px;
  height: 230px;
  padding: 3px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row-1, .row-2 {
  height: 50%;
}

.row-1 {
  margin-bottom: 3px;
  display: flex;
}

#box-1, #box-2, #box-3{
  border-radius: 10px;
  background-color: black
}

#box-1 {
  width: 119px;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
h2 {
  font-size: 28px;
}
.small-text {
  font-size: 10px;
  color: #808080;
}

#box-3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

canvas {
   width: 90%;
   height: 90%;
   display: block;
}
